body {
    font-family: 'Poppins', sans-serif;
    padding-bottom: 500px;

}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
  }
  

.btn {
    border: none;
    background-color: var(--main-color);
    font-size: 1rem;
    padding: 0.5em 1em;
    color: white;
  
    &:hover {
      background-color:var(--main-color)
    }

    &.btn--arrow::before {
        content:'\f138';
        font-family: FontAwesome;
    }
  }
