body{
    background-color:tan;
}

.nerodyti{
    display: none;
}
 .blokinis{
    display:block;
 }
.linijinis{
    display:inline;
}
.linijinisBlokinis{
    display:inline-block
}
.kvadratas{
    height: 100px;
    width: 100px;
    background-color: brown;
    border: 3px dashed yellow;
}
.margin1{
    margin:20px 50px;
}
.border1{
    border: 15px dotted black;
    border-style: solid dashed dotted;
}
.padding1{
    padding:30px;
}