* {
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ourTeam {
    padding: 3% 20px ;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.teamItem {
    text-align: center;
    
}
.teamItem img{
    border-radius: 50%;
    transition: all 0.4s;
}

.teamItem img:hover{
    opacity: 0.5;
}
.teamName {
    font-weight: normal;
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 12px;
}
.teamPosition {
    margin-top: 0;
    font-weight: normal;
    font-style: 18px;
}
.teamGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
/* OUR TEAM  */
/* OUR WORK */

.mainContainer{
    background-color: #333333;
    min-height: 500px ;
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.mainContainer h3{
    margin-left: 20px;
    margin-bottom: 1px;
    margin-top: 1px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.container1{
    color: white;
    text-align: left;
    margin: 0 0 0 20px;
}
.container2{
    background-color: white;
    width: 250px;
    gap: 15px;
    justify-items: center;
    
}
.container img{
    width: 100%;
    max-height: 100%;
    object-fit: cover
}
.container ul {
    list-style-type: none;
    margin-top: 10px;
}

.mainPricing{
    text-align: center;
}
.pricing{
    padding: 3% 20px ;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.pricing ul{
    list-style-type: none;
}

.pricingBlock{
    display: flex;
    flex-direction: column;
    
}
.pricingBlock ul:hover{
    box-shadow:1px 1px 6px lightgray
}
/* .border{
    border: 1px gray solid;
} */
.block{
    border: 1px rgb(219, 217, 217) solid;
    padding: 15px;
    background-color: #f0f0f0;
}

.blackTheme{
    background-color: black;
    color: white;
    padding: 30px;
    font-size: large;
    letter-spacing: 2px;
}
.grayTheme{
    background-color: rgb(94, 94, 94);
    color: white;
    padding: 30px;
    font-size: large;
    letter-spacing: 2px;
}
.button{
    width: 120px;
    height: 50px;
    background-color: #009688;
    color: white;
    border: #009688;
    border-radius: 5%;
}
button:hover{
    background-color: #9bb5b3;
}

/* forma */

.contactForm{
    background-color: #f0f0f0;
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    padding: 3% 20px ;
    text-align: left;
}
.contacts{
    display:flex;
    flex-direction: column;
    width: 35%;
}
.contactUs{
    font-size: x-large;
    text-decoration:underline #009688 5px;
}

.address{
    margin-top: 50px;
}
.material-icons {
    color: #009688;
}
.form{
    background-color: white;
    max-width: 60%;
    min-height: auto;
}
.contactForm{
    background-color:white;
    display: flex;
    gap:16px;
    flex-wrap: wrap;
    margin-left: 5px;
}
.half{
    flex-basis: 47%;
}

.full{
    flex-basis: 100%;
}
.input{
    background-color:white;
    display: block;
    padding: 5px;
    border: none;
    font-size: 16px;
    width: 100%;
    border-bottom: #9bb5b3 1px solid;
}
.textarea{
    resize: vertical;
}
.gray{
    background-color: #f0f0f0;
}
.form:hover{
    box-shadow:1px 1px 6px lightgray
}