@use 'vars' as v;

@mixin myIcon($leftPos: 50%) {
  &__icon {
    font-size: 3rem;
    margin-bottom: 0.5em;
    position: relative;
    margin-top: 0.4em;
    &::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: transparentize(v.$secondary-color, 0.5);
      left: $leftPos;
      top: -6px;
    }
  }
}